<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member">

<!-- 회원의 비밀번호변경저장  -->
<update id="resetPassword">
update member set user_pw = #{user_pw}
where user_id = #{user_id}
</update>


<!-- 회원정보조회: 아이디와 이메일이 일치하는  -->
<select id="useridEmail" resultType="member">
select * from member
where user_id = #{user_id} and email = #{email}
</select>


<!-- 회원정보조회: 아이디에 해당하는  -->
<select id="info" resultType="member">
select * from member
where user_id = #{user_id}
</select>

<insert id="joinTest">
insert into member (user_id, user_pw, name, email)
values (#{user_id}, #{user_pw}, #{name}, #{email})
</insert>

<select id="today" resultType="string">
select to_char(sysdate, 'yyyy-mm-dd') from dual
</select>

</mapper>